<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
  <section>
  
      <div class="container mt-5">
      
      
      <div class="card text-center">
      
      <div class="card-body my-5">
    
        <h1 class="mt-3 text-center text-danger h1 font-italic font-weight-light ">
        Start Adding Your Contact on Cloud..
        </h1>
    
        <h1 class="h4 text-primary mt-3">
        What Does Contact Manager Mean?
        </h1>
            <p class="p text-secondary">  
Contact manager is an application that allows users to easily locate and save contact information, including names, telephone numbers and addresses. Advanced contact managers offer reporting functionality and enable various workgroup members to gain access to the same "contacts" database. These contact-centric databases present a fully integrated procedure for tracking all data and communication activities associated with contacts.

        </p>
     
         <a class="btn btn-primary  mt-3 " th:href="@{/signup}">Add New User</a>
      </div>
      </div>
      </div>
  </section>
</body>
</html>