<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section}) ">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
<section>

<div class="banner  d-flex align-items-center justify-content-center">



          <div class="card">
          <div class="card-body">
                        <div class=" text-center">
      
      <div class=" my-5">
    
    
      
        <h1 class="text-danger">Free Contact Database & Management Software</h1>

   <p class="text-secondary">
    Manage your contacts without the busywork.
    <br>
     Add company and contact records with a single click,
 log sales activities automatically, and easily keep your records up to date.
   
   </p>
        
     
         <a class="btn btn-primary  mt-3 " th:href="@{/user/login}">Add New Contact</a>
     
         <a class="btn btn-primary  mt-3 " th:href="@{/signup}">Add New User</a>
      </div>
      </div>
          </div>
          </div>
     

</div>




<div class="content container mt-5 text-secondary ">
     <h1 class="h1 text-center ">Easily create the contact   <br />with Smart Contact Manager.</h1>
    <div class="row mt-5">
    
     <div class="col-md-7  ">
      <img  style="width:600px; height:400px" src="/image/ShowContactPage.png" class="image-fluid" data-was-processed="true">
     
     </div>
     <div class="col-md-5 text-center">
     <h1 class="h4 mt-5">
     Easily create contact records that populate and update automatically.
     </h1>
     <br />
     <p class="p h6 text-center">Create as many as 1,000,000 detailed contact<br>
     
      and company records without all the work.
      <br>

Add new contacts manually using a prospect’s corporate email address, or pull them straight from your inbox or form submissions.
<br>


When you do, Smart Contact Manager software will automatically create an associated record and populate both records with details such as  contact details from its database .

     </p>
     </div>

    </div>
</div>  



<div class="content container mt-5 text-secondary ">
     <h1 class="h1 text-center ">Reisgter Yourself before login   <br />implements Security feature</h1>
    <div class="row mt-5">
    
     <div class="col-md-7">
      <img  style="width:600px; height:400px" src="/image/Register.png" class="image-fluid" data-was-processed="true">
     
     </div>
     <div class="col-md-5 text-center">
     <h1 class="h4 mt-5">
           First need to register than login because of privacy of user and contact.
     </h1>
     <br />
     <p class="p h6 text-center">Privacy is very important new a days. <br>
     
      Wit the help of Spring Boot we provide security feature and enabled stight security.
      <br>




When you do, Smart Contact Manager software will automatically create an associated record and updates records with security  .

     </p>
     </div>

    </div>
</div>    
           
           
           
           
           
    

<div class="content container mt-5 text-secondary ">
     <h1 class="h1 text-center ">Keep contact records up-to-date without  <br />all the maintenance.</h1>
    <div class="row mt-5">
    
     <div class="col-md-7">
      <img  style="width:600px; height:400px" src="/image/ProfilePage.png" class="image-fluid" data-was-processed="true">
     
     </div>
     <div class="col-md-5 text-center">
     <h1 class="h4 mt-5">
     Easily access the contact details and see their profile
     </h1>
     <br />
     <p class="p h6 text-center">Easy to use and take less time. <br>
     
      to save details and see details.
      <br>




When you do, Smart Contact Manager software will automatically create an associated record and updates records with security  .

     </p>
     </div>

    </div>
</div>    
           
           
           
           
     

<div class="content container mt-5 text-secondary ">
     <h1 class="h1 text-center ">Easily access the Contact  <br />with less databse load.</h1>
    <div class="row mt-5">
    
     <div class="col-md-7">
      <img  style="width:600px; height:400px" src="/image/Pagination.png" class="image-fluid" data-was-processed="true">
     
     </div>
     <div class="col-md-5 text-center">
     <h1 class="h4 mt-5">
       Pagination loads the contact very smoothly using the concept of Paging
     </h1>
     <br />
     <p class="p h6 text-center">No Database Load ,Application Work Smoothly <br>
     
     Pagination typically means smaller, shorter pages and as a result reduced load times. 
     <br>
     Long pages take longer to load, and infinite pages require loading to take place as the user scrolls:
     <br> not always a seamless experience.
      





     </p>
     </div>

    </div>
</div>    
                        
           
           
           <!-- End of FAQ -->
           
</section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
           
           
           
           







</body>
</html>